* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    width: 95vw;
    height: 95vh;
}
.container {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.card {
    flex-basis: 25vw;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(228, 228, 228);
}
img {
    width: 15px;
}
button {
    background-color: orangered;
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
    margin-bottom: 5px;
}

@media(max-width:680px) {
    .container {
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100vw;
    }
    .card {
        width: 80vw;
        margin-bottom: 20px;
    }
}
